{% extends 'base.html.twig' %}

{% block title %}Modifier Frais Abstrait{% endblock %}
{% block titrePage %}Gestion de configuration  {% endblock %}
{% block cardHeader %} {{ block ('title')}} {% endblock %}
{% block body %}
    {{ include('frais_abstrait/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_frais_abstrait_index') }}">back to list</a>

    {{ include('frais_abstrait/_delete_form.html.twig') }}
{% endblock %}
