{% extends 'base.html.twig' %}

{% block title %}Nouveau Frais Abstrait{% endblock %}
{% block titrePage %}Gestion de configuration  {% endblock %}
{% block cardHeader %} {{ block ('title')}} {% endblock %}
{% block body %}
    {{ include('frais_abstrait/_form.html.twig') }}

    <a href="{{ path('app_frais_abstrait_index') }}">back to list</a>
{% endblock %}
