{% extends 'base.html.twig' %}

{% block title %}New FraisAbstrait{% endblock %}

{% block body %}
    <h1>Create new FraisAbstrait</h1>

    {{ include('frais_abstrait/_form.html.twig') }}

    <a href="{{ path('app_frais_abstrait_index') }}">back to list</a>
{% endblock %}
