{% extends 'base.html.twig' %}

{% block title %}Nouvelle Année Academique{% endblock %}
{% block titrePage %}Gestion des configurations  {% endblock %}
{% block cardHeader %} {{ block ('title')}} {% endblock %}
{% block body %}
    {{ include('annee_academique/_form.html.twig') }}

    <a href="{{ path('app_annee_academique_index') }}">retour à la liste </a>
{% endblock %}
