{% extends 'base.html.twig' %}

{% block title %}Modifier Frais{% endblock %}
{% block titrePage %}Gestion des frais {% endblock %}
{% block cardHeader %} {{ block ('title')}} {% endblock %}
{% block body %}
    {{ include('frais/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_frais_index') }}">retour à la liste </a>

    {{ include('frais/_delete_form.html.twig') }}
{% endblock %}
