{% extends 'base.html.twig' %}

{% block title %}Création des Frais{% endblock %}

{% block titrePage %}Gestion des frais {% endblock %}
{% block cardHeader %} {{ block ('title')}} {% endblock %}
{% block body %}
    {{ include('frais/_form.html.twig') }}

    <a href="{{ path('app_frais_index') }}">retour à la liste </a>
{% endblock %}
